<div class="container py-5">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="card bg-white border-0 shadow">
      <div class="row">
        <div class="col-md-12">
          <div class="py-3 px-4">
            <div class="d-flex justify-content-between flex-sm-wrap">
              <div><h1 class="magic-text font-bold-xbolder">AI Recommendation Engine</h1></div>
              <div class="align-self-center">
                <label><i class="fas fa-user-tie me-2 theme-clr1"></i><b><span class="me-2">Hello!</span><span class="theme-clr1">Vetrivel Muthusamy</span></b></label>
              </div>
            </div>

          </div>
          <hr class="mt-0">
        </div>
        <div class="col-md-12 my-3">
          <div class="px-4">
            <h3 class="font-bold-bolder mb-3">Please select the input type</h3>
            <div class="input-group mb-3 input-group-lg">
              <select class="form-select" aria-label=".form-select-lg example"
                   [(ngModel)]="model.inputType" #inputType="ngModel" name="inputType" (ngModelChange)="onInputTypeChange()">
              <option class="custom-option" selected value="">Select input type</option>
              <option class="custom-option" value="1">Mic</option>
              <option class="custom-option" value="2">Line</option>
            </select>           
              <button class="btn theme-bg-clr1 text-white" type="submit">Recommend</button>
             </div>           
          </div>
        </div>
      
        <div *ngIf="result && showResult">
              <div class="px-4 py-4 d-flex justify-content-center align-items-center">
            <ng-container *ngIf="model.inputType==1">
          <div class="theme-clr2 font-bold-bolder px-4 border-theme3 rounded font-24">MIC</div> 
          <div class="d-flex align-items-center"><div class="wire-before border-start-0"></div><div class="wire"></div><div class="wire-after border-end-0"></div></div>
        </ng-container>  
        <ng-container *ngIf="model.inputType==2">
          <div class="theme-clr2 font-bold-bolder px-4 border-theme3 rounded font-24">LINE</div>
          <div class="d-flex align-items-center"><div class="wire-before border-start-0"></div><div class="wire"></div><div class="wire-after border-end-0"></div></div>
        </ng-container>     
        <ng-container *ngIf="result?.Gain=='1'">
          <div class="theme-clr2 font-bold-bolder px-4 border-theme3 rounded font-24">Gain </div>
          <div *ngIf="!showButton" class="d-flex align-items-center"><div class="wire-before border-start-0"></div><div class="wire"></div><div class="wire-after border-end-0"></div>
        </div>     
          </ng-container>            
          <div *ngIf="result?.HPF=='1'" class="theme-clr2 font-bold-bolder px-4 border-theme3 rounded font-24">HPF</div>
        </div>
        <div *ngIf="showButton" class="d-flex justify-content-center pb-4">
          <button type="button" class="btn theme-bg-clr2 text-white font-bold-bolder"  (click)="recommentHpf(result?.Gain)">Recommend Next</button>
         </div>
      </div>
      </div>
    </div>
  </form>
</div>



