
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      #2ebf91,#8360c3,#e86f97,#8360c3,#2ebf91
    );
    user-select: none;
    background-size: 200%;
    transition: transform 100ms ease-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  